.image-banner {
  content: "";
  margin: 1% 5% 5% 5%;
  width: 90%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5); /* Color semi-transparente */
}
.title {
  margin-inline: 5%;
  padding-top: 2%;
  font-family: "Times New Roman", Times, serif;
}

.footer {
  margin-left: 30%;
  width: max-content;
  font-weight: bold;
}
